unsloth_compiled_cache
outputs
_unsloth_temporary_saved_buffers
Aqal-1.0-1.5B-Base-lora-checkpoints
Aqal-1.0-1.5B-Base-lora


# Environment
.env
venv/
__pycache__/
*.pyc

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models & Checkpoints
checkpoints/
outputs/
models/
cache/

# Logs
logs/
wandb/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store